[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

aiohttp = "*"
cchardet = "*"
aiodns = "*"
aiobotocore = "*"
certifi = "*"
requests = "*"


[requires]

python_version = "3.6"